<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>{label}</string>
    <key>ProgramArguments</key>
    <array>
        <string>{python}</string>
        <string>{worker_script}</string>
        <string>--assets-root</string>
        <string>{assets_root}</string>
        <string>--script-dir</string>
        <string>{script_dir}</string>
        <string>--reclaim-stuck-after</string>
        <string>30</string>
        <string>--max-claims</string>
        <string>3</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>
    <key>StandardOutPath</key>
    <string>{log_dir}/queue-worker.out.log</string>
    <key>StandardErrorPath</key>
    <string>{log_dir}/queue-worker.err.log</string>
    <key>WorkingDirectory</key>
    <string>{assets_root}</string>
</dict>
</plist>
